* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.left-side {
    width: 30%;
    height: 100%;
}

.right-side {
    width: 65%;
    height: 100%;
}

.left-side_menu {
    width: 100%;
    height: 75%;
    background-color: lightgoldenrodyellow;
}

.left-side_content {
    width: 100%;
    height: 25%;
    background-color: lightgreen;
}

.right-side_title, .right-side_footer {
    width: 100%;
    height: 25%;
    background-color:rgb(115, 178, 231);
    display: flex;
    font-size: 26pt;
}

.right-side_content {
    width: 100%;
    height: 50%;
    background-color:rgb(230, 230, 230);
    font-size: 16pt;
}

.right-side_content>div, #add {
    padding: 15px 10px;
}

#name {
    font-style: italic;
    padding-bottom: 30px;
}

.titles {
    width: 50%;
    height: 70%;
    margin: auto 20px;
    display: flex;
    align-items: center;
}

.images {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-side_footer {
    display: flex;
    justify-content: end;
    font-size: 16pt;
}

.right-side_footer>.images {
    padding-left: 30px;
}

.right-side_footer>.titles {
    justify-content: end;
    padding-right: 30px;
}

.images>img {
    width: 60%;
    height: 100%;
}

nav {
    display: flex;
    padding: 15px 15px;
    font-size: 30pt;
}

nav>ul>li {
    padding-bottom: 15px;
}

#formBlock {
    padding: 0 0 0 10px;
}

#checkboxes {
    margin-top: 6px;
    margin-left: 0;
    padding-left: 10px;
    list-style: none;
}